<div class="form-container">
  <mat-card class="formCard">
    <form [formGroup]="loginForm">
      <h1 class="mat-h1">Login</h1>
      <div class="row">
        <mat-form-field class="form">
          <input matInput maxlength="20" placeholder="Trainer Name" formControlName="trainerName">
          <mat-error *ngIf="loginForm.get('trainerName')?.hasError('required')">
            Trainer Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <br />
    <div *ngIf="authService.error" style="color:red">
      {{authService.error}}
    </div>
    <br />
    <div class="flex">
      <button class="button" mat-raised-button color="accent" (click)="clearForm()">Clear</button>
      <button class="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </mat-card>
</div>
