<mat-card class="mainCard">
  <mat-card-header>
    <mat-card-title>
      Friends
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="addFriend;then addFriendComp else friendsList"></div>
    <ng-template #addFriendComp><app-add-friend (back)="onBack($event)"></app-add-friend></ng-template>
    <ng-template #friendsList>
      <div *ngIf="friendList">
        <app-friends-list [friends]="friendList" ></app-friends-list>
      </div>
      <mat-icon id="addFriendBtn" (click)="onAddClick()"
                matTooltip="Add New Friend"
                color="primary"
                class="mat-36 pad-top-xxl">
        control_point
      </mat-icon>
    </ng-template>

  </mat-card-content>
</mat-card>
