<div class="form-container">
  <mat-card class="formCard">
    <form [formGroup]="registerForm">
      <h1 class="mat-h1">Register a new Trainer</h1>
      <div class="row">
        <mat-form-field class="form">
          <input matInput maxlength="20" placeholder="Trainer Name" formControlName="trainerName">
          <mat-hint align="end">{{registerForm.get('trainerName')?.value.length}} / 20</mat-hint>
          <mat-error *ngIf="registerForm.get('trainerName')?.hasError('required')">
            Trainer Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('trainerName')?.hasError('nameTaken') && !registerForm.get('trainerName')?.hasError('required')">
            Trainer Name already <strong>taken</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Password" type="password" formControlName="password" (focus)="toggleFocus(true)"
            (blur)="toggleFocus(false)">
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Password Repeat" type="password" formControlName="passwordRepeat" (focus)="toggleFocus(true)"
            (blur)="toggleFocus(false)">
          <mat-error *ngIf="registerForm.get('passwordRepeat')?.hasError('required')">
            Password Repeat is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="registerForm.hasError('notSame') && !registerForm.get('passwordRepeat')?.hasError('required') && !passwordFocus">
          Passwords do <strong>NOT</strong> match
        </mat-error>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Email Address" formControlName="email"
          >
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('invalidEmail') && !registerForm.get('email')?.hasError('required')">
            Please enter a <strong>valid</strong> email address
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('emailTaken') && !registerForm.get('email')?.hasError('required')">
            Email address already <strong>taken</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <br />
    <div class="flex">
      <button class="button" mat-raised-button color="accent" (click)="clearForm()">Clear</button>
      <button class="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!registerForm.valid">Submit</button>
    </div>
  </mat-card>
</div>
