.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 25% 0;
}
.flex-spacer {
  flex-grow: 1;
}

.form-container {
    text-align: center;
}
.formCard {
  margin-top: 1rem;
  width: 30%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.form {
  width: 85%;
  max-width: 500px;
}
