<div>
  <mat-list>
    <mat-list-item *ngFor="let friend of friends" (click)="friendClick(friend)">
      {{ friend.name }} {{getNickname(friend)}}{{getAreaTxt(friend)}}
    </mat-list-item>
  </mat-list>
  <div *ngIf="!friends">
    Wow. No Friends. Maybe if you didn't spend all your time looking at an online pokedex...
  </div>
</div>
