.pokeCard {
  width:11%;
  min-width: 200px;
  margin: 10px;
  display:inline-block;
}

.image {
	margin-left: auto;
  margin-right: auto;
  display: block;
}

.flex {
  display:flex;
  height: 300px;
  min-height: 300px;
}

.flex > mat-card-content {
  flex: 1;
  align-self: flex-end;
}

.extra {
  display:flex;
  flex-direction: column;
  height: 300px;
  min-height: 300px;
}
