<div class="form-container" *ngIf="trainer">
  <mat-card class="trainerCard">
    <mat-card-content>
      <!-- Trainer avatar carousel -->
      <div style="text-align: center;">
        <button (click)="switchPicture(false)" *ngIf="editToggle">
          <</button> <img src="assets/trainer/{{avatars[selectedAvatar]}}">
            <button (click)="switchPicture(true)" *ngIf="editToggle">></button>
      </div>
      <div style="text-align: center">
        <button class="button" mat-raised-button color="accent" (click)="toggleEdit()">{{editToggle ? 'Cancel' :
          'Edit'}}</button>
        <button *ngIf="editToggle" class="button" mat-raised-button color="primary" (click)="updateTrainer()">Save</button>
      </div>
      <div style="text-align: center">
        <h2>{{trainer.trainerName}}</h2>
      </div>
      <div style="text-align: center">
        <h3>{{trainer.email}}</h3>
      </div>
      <!-- ngFor pokemon cards -->
      <mat-card *ngFor="let pkmn of trainer.pokemon; let i = index" class="pokeCard">
        <mat-card-header>
          <img mat-card-avatar src="assets/pokemon_icons/{{pkmn.id}}.png" class="pokemon-icon">
          <mat-card-title>{{pkmn.name}}</mat-card-title>
          <mat-card-subtitle>{{pkmn.classification}}</mat-card-subtitle>
          <span style="flex: 1 1 auto;"></span>
          <button mat-icon-button matTooltip="Release {{pkmn.nickname}}" (click)="deletePokemon(pkmn)">
            <mat-icon class="addButton" attr.aria-label="Release {{pkmn.nickname}}">clear</mat-icon>
          </button>
        </mat-card-header>
        <div class="flex">
          <mat-card-content>
            <img class="image" src="assets/pokemon_images/{{pkmn.id}}.gif" style="margin-bottom: 10px">
            <mat-chip-list style="text-align: center;align-content: center">
              <mat-chip [ngStyle]="{backgroundColor: colours[i].colour1}" selected>{{pkmn.types.type1}}</mat-chip>
              <span *ngIf="pkmn.types.type2">
                <mat-chip [ngStyle]="{backgroundColor: colours[i].colour2}" selected>{{pkmn.types.type2}}</mat-chip>
              </span>
            </mat-chip-list>
            <br />
            <div *ngIf="!this.pokemonEditToggles[pkmn.id]">
              <p><strong>Nickname: </strong>{{pkmn.nickname}}</p>
              <br />
              <p><strong>Caught: </strong>{{pkmn.areaCaught}}</p>
            </div>
            <div *ngIf="this.pokemonEditToggles[pkmn.id]">
              <form>
                <mat-form-field>
                  <input matInput placeholder="Nickname" [value]="pkmn.nickname" (blur)="nickname($event, pkmn)">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Area Caught" [value]="pkmn.areaCaught" (blur)="areaCaught($event, pkmn)">
                </mat-form-field>
              </form>
            </div>
            <mat-card-footer style="text-align: center">
              <button mat-icon-button matTooltip="Edit {{pkmn.nickname}}" (click)="editPokemon(pkmn.id)" *ngIf="!this.pokemonEditToggles[pkmn.id]">
                <mat-icon class="addButton" attr.aria-label="Edit {{pkmn.nickname}}">create</mat-icon>
              </button>
              <div *ngIf="this.pokemonEditToggles[pkmn.id]">
                <button class="button" mat-raised-button color="accent" (click)="editPokemon(pkmn.id)">Cancel</button>
                <button class="button" mat-raised-button color="primary" (click)="updatePokemon(pkmn)">Save</button>
              </div>
            </mat-card-footer>
          </mat-card-content>
        </div>
      </mat-card>
      <mat-card class="pokeCard">
        <mat-card-header>

        </mat-card-header>
        <div class="extra">
          <span style="flex: 1 1 auto;"></span>
          <mat-card-content style="text-align: center">
            <button mat-icon-button matTooltip="Add new Pokemon" *ngIf="!newToggle" (click)="toggleNew()">
              <mat-icon class="addButton" attr.aria-label="Add new Pokemon">add_circle</mat-icon>
            </button>
            <div *ngIf="newToggle">
              <mat-form-field>
                <mat-select placeholder="Select Pokemon" (selectionChange)="addPokemon($event)">
                  <mat-option *ngFor="let pkmn of pokemon" [value]="pkmn">
                    {{pkmn.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="button" mat-raised-button color="accent" (click)="toggleNew()">Cancel</button>
            </div>
          </mat-card-content>
          <span style="flex: 1 1 auto;"></span>
        </div>
        <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
