/* The animation code (cancer)*/
@keyframes shake {
    0% {
      transform: translate3d(0,-4px, 0);
    }
    50% {
      transform: translate3d(0, 4px, 0);
    }
  }

img {
    margin-right: 10px;
}

/* The element to apply the animation to (multiple iterations of cancer)*/
mat-list-item:hover img {
    backface-visibility: hidden;
    -webkit-animation: shake 300ms infinite steps(1);
}

mat-card {
    overflow: auto;
    height: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

mat-list {
    border: 1px solid #000000;
}
