<mat-card>
  <p>List of Kanto region Pokemon</p>
  <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Name" [formControl]="nameFilter">
      </mat-form-field>
    </form>
  <mat-list>
    <mat-list-item (click)="openDetails(lilPokeGuy)" *ngFor="let lilPokeGuy of pokemonList | pokemonFilter:nameFilter.value" style="cursor:pointer">
      <img src="assets/pokemon_icons/{{lilPokeGuy.id}}.png"/>{{lilPokeGuy.id}} - {{lilPokeGuy.name}}
    </mat-list-item>
  </mat-list>
</mat-card>
<br />
