.border {
    border: 1px solid #000000;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.detailCard {

    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.image {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.stuff {
    height: 100%;
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    display: inline-block;
}

.pokemon-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
}

@keyframes shake {
  0% {
    transform: translate3d(0,-4px, 0);
  }
  50% {
    transform: translate3d(0, 4px, 0);
  }
}

.pokemon-icon:hover {
  backface-visibility: hidden;
  -webkit-animation: shake 300ms infinite steps(1);
}

.flexspan {
  display: flex;
}
::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.addButton {
  color: red;
}

.addButton:hover {
  color: black;
}
