<div class="form-container">
  <mat-card class="detailCard">
    <mat-card-header>
        <img mat-card-avatar src="assets/pokemon_icons/{{pokemon.id}}.png" class="pokemon-icon">
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>{{pokemon.classification}}</mat-card-subtitle>
    </mat-card-header>
    <img class="image" src="assets/pokemon_images/{{pokemon.id}}.gif">
    <mat-card-content>
      <p><strong>Number: </strong>{{pokemon.id}}</p>
      <p><strong>Name: </strong>{{pokemon.name}}</p>
      <span>
        <p><strong>Types: </strong> </p>
        <mat-chip-list>
          <mat-chip [ngStyle]="{backgroundColor: type1Color}" selected>{{pokemon.types.type1}}</mat-chip> <span *ngIf="pokemon.types.type2">
            <mat-chip [ngStyle]="{backgroundColor: type2Color}" selected>{{pokemon.types.type2}}</mat-chip>
          </span>
        </mat-chip-list>
      </span>
      <p><strong>Description: </strong>{{pokemon.description}}</p>
      <p><strong>Cry: </strong> <button mat-raised-button (click)="playCry()">Listen!</button></p>
    </mat-card-content>
    <mat-card-footer>
      <span class="flexspan">
        <span *ngIf="pokemon.id > 1" style="margin-left: 5px;cursor: pointer;" (click)="switchPokemon(pokemon.id - 1)">
          <img mat-card-avatar src="assets/pokemon_icons/{{pokemon.id - 1}}.png" class="pokemon-icon">
        </span>
        <span style="flex: 1 1 auto;"></span>
        <span *ngIf="isAuthenticated()" style="margin-right: 5px;cursor: pointer;">
          <button mat-icon-button matTooltip="Add Pokemon to Collection" (click)="addPokemon()">
            <mat-icon class="addButton" aria-label="Add Pokemon to Collection">add_circle</mat-icon>
          </button>
        </span>
        <span style="flex: 1 1 auto;"></span>
        <span *ngIf="pokemon.id < 151" style="margin-right: 5px;cursor: pointer;" (click)="switchPokemon(pokemon.id + 1)">
          <img mat-card-avatar src="assets/pokemon_icons/{{pokemon.id + 1}}.png" class="pokemon-icon">
        </span>
      </span>
    </mat-card-footer>
  </mat-card>
</div>
