<div class="form-container">
  <mat-card class="formCard">
    <mat-card-header>
      <img mat-card-avatar src="assets/pokemon_icons/{{pokemon.id}}.png" class="pokemon-icon">
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>{{pokemon.classification}}</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="addForm">
      <h1 class="mat-h1">Add Pokemon to Collection</h1>
      <div class="row">
        <mat-form-field class="form">
          <input matInput maxlength="20" placeholder="Nickname" formControlName="nickname">
          <mat-error *ngIf="addForm.get('nickname')?.hasError('required')">
            Nickname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Area Caught" formControlName="areaCaught">
          <mat-error *ngIf="addForm.get('areaCaught')?.hasError('required')">
            Area Caught <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <br />
    <div *ngIf="authService.error" style="color:red">
      {{authService.error}}
    </div>
    <br />
    <div class="flex">
      <button class="button" mat-raised-button color="accent" (click)="dialogRef.close()">Close</button>
      <button class="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!addForm.valid">Submit</button>
    </div>
  </mat-card>
</div>
