<mat-toolbar class="mainToolbar">
  <a mat-icon-button [routerLink]="['home']">
    <img id="iconLink" src="../assets/pokedex_icon.svg" />
  </a>
  <a id="homeLink" class="navLinks" [routerLink]="['pokemon-list']">Pokedex</a>
  <!-- This fills the remaining space of the current row -->
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    {{isAuthenticated ? 'Welcome ' + trainerName : 'Login'}}
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <div *ngIf="!isAuthenticated">
    <a mat-menu-item [routerLink]="['login']">Login</a>
    <a mat-menu-item [routerLink]="['register']">New Trainer</a>
  </div>
  <div *ngIf="isAuthenticated">
    <a mat-menu-item [routerLink]="['trainer']">Trainer Options</a>
    <a mat-menu-item [routerLink]="['friends']">Friends</a>
    <a mat-menu-item (click)="logout()">Logout</a>
  </div>
</mat-menu>
<router-outlet>
  <div class="centered" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</router-outlet>
