<div class="form-container">
    <mat-card-header>
      <mat-card-title>Add A New Friend</mat-card-title>
      <mat-card-subtitle>You made a friend at your age?!</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="addForm">
      <div class="row">
        <mat-form-field class="form">
          <input matInput maxlength="20" placeholder="Name" formControlName="name">
          <mat-error *ngIf="addForm.get('name')?.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="System" formControlName="system">
          <mat-error *ngIf="addForm.get('system')?.hasError('required')">
            System is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Cry (e.g. AAARRGH)" formControlName="cry">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Classification" formControlName="classification">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Nickname" formControlName="nickname">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form">
          <input matInput placeholder="Area Caught" formControlName="areaCaught">
        </mat-form-field>
      </div>
    </form>
    <br />
    <div class="flex">
      <button class="button" mat-raised-button color="accent" (click)="onCancelPress()">Cancel</button>
      <button class="button" mat-raised-button color="primary" (click)="onAddPress()" >Submit</button>
    </div>
</div>
