/*
!* You can add global styles to this file, and also import other style files *!
@import '~@angular/material/_theming';
// Include non-theme styles for core.
@include mat-core();
$primary: mat-palette($mat-red, 400); // custom main colour
$accent: mat-palette($mat-light-blue, 700); // custom secondary colour
$warn: mat-palette($mat-red, 600); // custom error colour
$my-theme: mat-light-theme($primary, $accent, $warn); // add our colours as custom theme

@include angular-material-theme($my-theme); // set angular mixin to our new theme
*/
@import '~@angular/material/_theming';
@include mat-core();

$pokemon-app-primary: mat-palette($mat-blue);
$pokemon-app-accent: mat-palette($mat-light-blue, A200, A100, A400);
$pokemon-app-warn: mat-palette($mat-red);

$pokemon-app-theme: mat-light-theme($pokemon-app-primary, $pokemon-app-accent, $pokemon-app-warn);


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

//Toolbar styling
.mainToolbar{
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
}

#iconLink{
  height: 3em;
}

#homeLink{
  margin-left: 1.5em;
}

.navLinks{
  text-decoration: none;
  color: #FFFFFF;
}

mat-list-item:nth-child(odd) {
  background-color:#ffffff;
}
mat-list-item:nth-child(even) {
background-color:#eeeeee;
}
@include angular-material-theme($pokemon-app-theme);
