<h1 class="mainCard">Home</h1>
<mat-card class="mainCard">
  <mat-card-header>
    <div mat-card-avatar class="pika-header-image"></div>
    <mat-card-title>
      Welcome to the newest and greatest Pokedex ever made.
    </mat-card-title>
    <mat-card-subtitle>Brought to you by Ctrl Alt Deliver</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The basic pokedex is implemented, but bigger and more exciting things are coming in the next month.  Stay tuned for new features like trainer customization, pokemon collection additions and friends!
    </p>
  </mat-card-content>
</mat-card>
